.card-container {
    display: flex;
    flex-direction: column;
    background-color: #5AA658;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .dogImg {
    margin: 0 auto;
    border-radius: 10px;
    height: 200px; 
    width: 250px;  
  }
  